<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjnu.fd.bookstore.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.zjnu.fd.bookstore.po.Address" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="addressee" property="addressee" jdbcType="VARCHAR" />
    <result column="contantPhone" property="contantphone" jdbcType="VARCHAR" />
    <result column="streetAddress" property="streetaddress" jdbcType="VARCHAR" />
    <result column="posNum" property="posnum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, province, city, addressee, contantPhone, streetAddress, posNum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ss_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from ss_address
    where userId = #{0}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ss_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjnu.fd.bookstore.po.Address" >
    insert into ss_address (id, userId, province, 
      city, addressee, contantPhone, 
      streetAddress, posNum)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{addressee,jdbcType=VARCHAR}, #{contantphone,jdbcType=VARCHAR}, 
      #{streetaddress,jdbcType=VARCHAR}, #{posnum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zjnu.fd.bookstore.po.Address" >
    insert into ss_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="addressee != null" >
        addressee,
      </if>
      <if test="contantphone != null" >
        contantPhone,
      </if>
      <if test="streetaddress != null" >
        streetAddress,
      </if>
      <if test="posnum != null" >
        posNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="addressee != null" >
        #{addressee,jdbcType=VARCHAR},
      </if>
      <if test="contantphone != null" >
        #{contantphone,jdbcType=VARCHAR},
      </if>
      <if test="streetaddress != null" >
        #{streetaddress,jdbcType=VARCHAR},
      </if>
      <if test="posnum != null" >
        #{posnum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjnu.fd.bookstore.po.Address" >
    update ss_address
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="addressee != null" >
        addressee = #{addressee,jdbcType=VARCHAR},
      </if>
      <if test="contantphone != null" >
        contantPhone = #{contantphone,jdbcType=VARCHAR},
      </if>
      <if test="streetaddress != null" >
        streetAddress = #{streetaddress,jdbcType=VARCHAR},
      </if>
      <if test="posnum != null" >
        posNum = #{posnum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjnu.fd.bookstore.po.Address" >
    update ss_address
    set userId = #{userid,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      addressee = #{addressee,jdbcType=VARCHAR},
      contantPhone = #{contantphone,jdbcType=VARCHAR},
      streetAddress = #{streetaddress,jdbcType=VARCHAR},
      posNum = #{posnum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>