<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjnu.fd.bookstore.dao.OrderRefCartMapper" >
  <resultMap id="BaseResultMap" type="com.zjnu.fd.bookstore.po.OrderRefCart" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cart_id" property="cartId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cart_id, order_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ss_order_ref_cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderNumber" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from ss_order_ref_cart
    where order_number = #{0}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ss_order_ref_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjnu.fd.bookstore.po.OrderRefCart" >
    insert into ss_order_ref_cart (id, cart_id, order_number
      )
    values (#{id,jdbcType=INTEGER}, #{cartId,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjnu.fd.bookstore.po.OrderRefCart" >
    insert into ss_order_ref_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjnu.fd.bookstore.po.OrderRefCart" >
    update ss_order_ref_cart
    <set >
      <if test="cartId != null" >
        cart_id = #{cartId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjnu.fd.bookstore.po.OrderRefCart" >
    update ss_order_ref_cart
    set cart_id = #{cartId,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>