.breadcrumb {
	padding-left: 10px;
}

.breadcrumb li {
	float: left;
	line-height: 45px;
	font-size: 14px;
}

.breadcrumb li.toNext {
	padding: 0 15px;
}

.breadcrumb li strong {
	font-size: 18px;
	font-weight: normal;
}

.productDetailBox {
	padding: 15px 20px;
	background-color: #fff;
}

.picInfo {
	float: left;
	margin-right: 25px;
	width: 400px;
}

.picInfo img {
	width: 350px;
	height: 350px;
	margin: 0 auto;
}

.thumbnailList {
	margin-top: 20px;
}

.thumbnailList li {
	float: left;
	margin-right: 10px;
}

.thumbnailList li img {
	width: 54px;
	height: 54px;
}

.detailInfo {
	width: 735px;
	float: left;
	padding-top: 15px;
}

.detailInfo .title {
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
}

.detailInfo .summary {
	color: #9ea74b;
	font-size: 14px;
}

.detailInfo .author {
	padding: 10px 0;
}

.detailInfo .author span {
	padding-right: 20px;
}

.detailInfo .price {
	background-color: #f8f8f8;
	padding: 5px 0;
	margin-bottom: 15px;
	position: relative;
}

.detailInfo .price .evaluate {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 80px;
	border-left: 1px solid #e6e6e6;
	text-align: center;
}

.detailInfo .price .detailItem {
	line-height: 35px;
}

.detailInfo .price .detailItem:first-child {
	margin-bottom: 10px;
}

.detailInfo .detailItem .left {
	width: 72px;
	float: left;
	margin-right: 5px;
    padding-left: 15px;
}

.detailInfo .detailItem .right {
	float: left;
}

.detailInfo .prevPrice {
	color: #999;
    text-decoration: line-through;
}

.detailInfo .nowPrice {
	font-size: 22px;
	color: #9ea74b;
	font-weight: 600;
}

.detailInfo .nowPrice i {
	font-size: 12px;
	color: #646464;
	font-weight: normal;
	padding-left: 5px;
	vertical-align: bottom;
}

.detailInfo .otherinfo>div {
	margin-bottom: 8px;
	margin-top: 10px;
}

.detailInfo .address {
	width: 150px;
	height: 28px;
	border: 1px solid #cecbce;
	padding: 0 20px 0 6px;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.detailInfo .address span {
	line-height: 28px;
	display: block;
}

.detailInfo .addressInfo {
	display: inline-block;
}

.detailInfo .addressInfo span {
	font-size: 15px;
	font-weight: 600;
	padding: 0 15px 0 8px;
}

.detailInfo .address .icon {
	position: absolute;
	top: 4px;
	right: 0;
}

.detailInfo .ad {
	margin: 10px 0;
}

.detailInfo .ad .space {
	padding: 0 15px;
}

.detailInfo .reduce-btn, .detailInfo .add-btn {
	display: inline-block;
	width: 13px;
	height: 13px;
	border: 1px solid #d5d5d5;
	line-height: 11px;
	text-align: center;
	vertical-align: text-bottom;
}

.detailInfo .reduce-btn:hover, .detailInfo .add-btn:hover {
	color: #666;
}

.detailInfo .buy-num-text {
	width: 34px;
	height: 20px;
	line-height: 20px;
	margin: 0 3px; 
	text-align: center;
	border: 1px solid #a0a0a0;
	color: #343434;
}

.detailInfo .addToCart {
	margin: 20px 0 20px 15px;
}

.addCart-btn:hover {
	color: #fff;
}

.productMainBox {
	margin-top: 20px;
}

.slidebar {
	width: 223px;
	float: left;
	border: 1px solid #ddd;
}

.slidebar .title {
	line-height: 40px;
	background-color: #f8f8f8;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	padding-left: 15px;
}

.slidebar .productList {
	padding: 0 10px;
}

.slidebar .productList li {
	padding: 20px 0 10px;
	border-bottom: 1px dotted #ddd;
	text-align: center;
}

.slidebar .productList li:last-child {
	border-bottom: none;
}

.slidebar .productList li img {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-bottom: 10px;
}

.slidebar .productList li p {
	line-height: 22px;
}

.slidebar .productList li .money {
	color: #9ea74b;
	font-size: 14px;
}

.content {
	width: 955px;
	float: left;
	background-color: #fff;
	margin-left: 20px;
}

.topNav {
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	line-height: 40px;
	height: 39px;
	width: 953px;
}

.topNav.ui-fixed {
	position: fixed!important;
	top: 0;
}

.tabBox {
	display: inline-block;
}

.tabBox li {
	float: left;
	padding: 0 20px;
	font-size: 14px;
	cursor: pointer;
}

.tabBox li i {
	font-size: 12px;
	color: #9ea74b;
	padding-left: 5px;
}

.tabBox li.active {
	color: #9ea74b;
	background-color: #fff;
	border: 1px solid #ddd;
    border-bottom: 0;
    border-top: 0;
}

.tabBox li:first-child.active {
	border-left: none;
}

.topNav .addCart-btn {
	width: 155px;
    height: 41px;
    line-height: 41px;
    position: relative;
    top: -1px;
    right: -1px;
    text-align: center;
	font-size: 16px;
	display: inline-block;
}

.productDetail {
	padding: 20px 0;
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 20px;
}

.productDetail li {
	width: 200px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 25px;
	padding-left: 40px;
}

.productDetail .rate {
	width: 220px;
	float: left;
	text-align: center;
	margin-left: 20px;
}

.productDetail .rate span {
	font-size: 24px;
	color: #9ea74b;
	display: block;
	height: 62px;
}

.productDetail .rate span i {
	font-size: 46px;
}

.productDetail .percent {
	float: left;
	width: 230px;
}

.productDetail .percent dt {
	float: left;
	width: 70px;
	line-height: 30px;
}

.productDetail .percent dt span {
	color: #999;
	padding-left: 2px;
}

.productDetail .percent dd {
	float: left;
	width: 160px;
	overflow: hidden;
	background-color: #efefef;
	margin-top: 10px;
}

.productDetail .percent dd div {
	background-color: #9ea74b;
	height: 10px;
}

.productDetail .evaluate {
	padding-left: 40px;
	border-left: 1px dashed #ddd;
	float: right;
	width: 200px;
	height: 90px;
	text-align: center;
	margin-right: 30px;
}

.productDetail .evaluate p {
	line-height: 40px;
}

.productDetail .evaluate .sendBtn {
	width: 120px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}

.productIntro {
	padding: 20px;
	font-size: 14px;
	border: 1px solid #ddd;
}

.productIntro .title {
	border-bottom: 2px solid #9ea74b;
	line-height: 30px;
	font-size: 14px;
	font-weight: 500;
}

.productIntro .title span {
	width: 100px;
	background-color: #9ea74b;
	color: #fff;
	display: block;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.productIntro .intro {
	line-height: 24px;
	padding: 10px;
	margin-bottom: 15px;
}

.productIntro .intro p {
	margin-bottom: 10px;
}

.productListBox .filter {
	background-color: #f8f8f8;
	padding: 8px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.productListBox .filter li {
	float: left;
	padding: 0 15px;
	background-color: #fff;
	line-height: 30px;
	cursor: pointer;
}

.productListBox .filter li.active {
	background-color: #9ea74b;
	color: #fff;
}

.productListBox .filter li:hover {
	background-color: #ffeff5;
}

.productListBox .filter li.active:hover {
	background-color: #9ea74b;
}
