.cartStepBox {
	float: right;
	margin: 45px 20px 0 0;
}

.cartStepBg {
	background: url(../../images/cart/chart_bg.png) no-repeat;
	width: 435px;
	height: 35px;
}

.cartStepBg.step1 {
	background-position: -8px -8px;
}

.cartStepBg.step2 {
	background-position: -8px -53px;
}

.caerStep li {
	float: left;
	color: #bfbfbf;
}

.caerStep li.active {
	color: #9ea74b;
}

.caerStep li.first {
	width: 159px;
}

.caerStep li.second {
	width: 180px;
}

.caerStep li.third {
	width: 85px;
}

.cartTop {
	height: 44px;
	border-bottom: 2px solid #9ea74b;
	margin-top: 15px;
}

.cartTop .totalPro {
	width: 227px;
	color: #fff;
	text-align: center;
	line-height: 44px;
	background-color: #9ea74b;
	font-size: 14px;
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
}

.cartTable input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 5px;
	cursor: pointer;
}

.cartTable .reduce-btn, .cartTable .add-btn {
	display: inline-block;
	width: 13px;
	height: 13px;
	border: 1px solid #d5d5d5;
	line-height: 11px;
	text-align: center;
	vertical-align: text-bottom;
}

.cartTable .reduce-btn:hover, .cartTable .add-btn:hover {
	color: #666;
}

.cartTable .buy-num-text {
	width: 34px;
	height: 20px;
	line-height: 20px;
	margin: 0 3px; 
	text-align: center;
	border: 1px solid #a0a0a0;
	color: #343434;
}

.cartTable tfoot tr td {
	text-align: center;
	border-bottom: 1px solid #9ea74b;
	border-top: 1px solid #9ea74b;
	line-height: 45px;
}

.cartTable tfoot tr td:first-child {
	border-left: 1px solid #9ea74b;
}

.cartTable tfoot tr td:last-child {
	border-right: 1px solid #9ea74b;
}

.cartTable tfoot .totalNum {
	font-size: 18px;
	color: #9ea74b;
	font-weight: 600;
	vertical-align: middle;
}

.cartTable tfoot .toChargrBtn {
	width: 100%;
	height: 46px;
	font-size: 16px;
	display: block;
}

.cartTable tfoot .toChargrBtn:hover {
	color: #fff;
}

.cartTable .goods td .msg-text {
	width: 380px;
	padding: 2px 8px;
}

.addressBox {
	border: 1px solid #ededed;
	border-top: none;
	margin-bottom: 20px;
	padding: 10px 20px 30px 20px;
}

.addressList li {
	line-height: 42px;
	cursor: pointer;
	padding: 0 10px;
}

.addressList li:hover {
	background-color: #ffeff5;
}

.updateBox {
	margin: 20px 0 0 10px;
}
